<o-form-layout-manager attr="Reservation" mode="tab" title="RESERVATION">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="ReservationTable" 
            service="Reservation" 
            entity="Reservation" 
            title="RESERVATION"
            keys="id"
            columns="id;customer_id;restaurant_id;reservation_date" 
            header-actions="R;D"
            visible-columns="id;customer_id;restaurant_id;reservation_date"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="customer_id" title="customer_id">
    <o-table-cell-renderer-service attr="customer_id" 
        service="Customer" entity="CustomerType" columns="id;name"
        parent-keys="id:customer_id"
        value-column="name" keys="customer_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="restaurant_id" title="restaurant_id">
    <o-table-cell-renderer-service attr="restaurant_id" 
        service="Restaurant" entity="RestaurantType" columns="id;name"
        parent-keys="id:restaurant_id"
        value-column="name" keys="restaurant_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-date-input #reservation_date attr="reservation_date" type="timestamp" label="reservation_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>