<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Restaurant_form_edit" 
        service="Restaurant" 
        entity="Restaurant" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #location attr="location" label="location" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="CHEF-restaurant_id">
    <div layout-padding>
      <o-table 
        attr="ChefTable" 
        service="Chef" 
        entity="Chef" 
        keys="id"
        parent-keys="restaurant_id:id"
        columns="name;restaurant_id;id"  
        horizontal-scroll="yes"
        detail-form-route="Chef" 
        edit-form-route="Chef"
        visible-columns="name;restaurant_id;id"  
        sort-columns="name" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #name attr="name" title=" name*" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="restaurant_id" title="restaurant_id">
    <o-table-cell-renderer-service attr="restaurant_id" 
        service="Restaurant" entity="RestaurantType" columns="id;name"
        parent-keys="id:restaurant_id"
        value-column="name" keys="restaurant_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="INVENTORY-restaurant_id">
    <div layout-padding>
      <o-table 
        attr="InventoryTable" 
        service="Inventory" 
        entity="Inventory" 
        keys="id"
        parent-keys="restaurant_id:id"
        columns="id;ingredient_id;restaurant_id;quantity"  
        horizontal-scroll="yes"
        detail-form-route="Inventory" 
        edit-form-route="Inventory"
        visible-columns="id;ingredient_id;restaurant_id;quantity"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="ingredient_id" title="ingredient_id">
    <o-table-cell-renderer-service attr="ingredient_id" 
        service="Ingredient" entity="IngredientType" columns="id;name"
        parent-keys="id:ingredient_id"
        value-column="name" keys="ingredient_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="restaurant_id" title="restaurant_id">
    <o-table-cell-renderer-service attr="restaurant_id" 
        service="Restaurant" entity="RestaurantType" columns="id;name"
        parent-keys="id:restaurant_id"
        value-column="name" keys="restaurant_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #quantity attr="quantity" title="quantity" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="MENU-restaurant_id">
    <div layout-padding>
      <o-table 
        attr="MenuTable" 
        service="Menu" 
        entity="Menu" 
        keys="id"
        parent-keys="restaurant_id:id"
        columns="item_name;restaurant_id;price;id"  
        horizontal-scroll="yes"
        detail-form-route="Menu" 
        edit-form-route="Menu"
        visible-columns="item_name;restaurant_id;price;id"  
        sort-columns="item_name" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #item_name attr="item_name" title=" item_name*" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="restaurant_id" title="restaurant_id">
    <o-table-cell-renderer-service attr="restaurant_id" 
        service="Restaurant" entity="RestaurantType" columns="id;name"
        parent-keys="id:restaurant_id"
        value-column="name" keys="restaurant_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #price attr="price" title="price" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
        
          <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="RESERVATION-restaurant_id">
    <div layout-padding>
      <o-table 
        attr="ReservationTable" 
        service="Reservation" 
        entity="Reservation" 
        keys="id"
        parent-keys="restaurant_id:id"
        columns="id;customer_id;restaurant_id;reservation_date"  
        horizontal-scroll="yes"
        detail-form-route="Reservation" 
        edit-form-route="Reservation"
        visible-columns="id;customer_id;restaurant_id;reservation_date"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="customer_id" title="customer_id">
    <o-table-cell-renderer-service attr="customer_id" 
        service="Customer" entity="CustomerType" columns="id;name"
        parent-keys="id:customer_id"
        value-column="name" keys="customer_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="restaurant_id" title="restaurant_id">
    <o-table-cell-renderer-service attr="restaurant_id" 
        service="Restaurant" entity="RestaurantType" columns="id;name"
        parent-keys="id:restaurant_id"
        value-column="name" keys="restaurant_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-date-input #reservation_date attr="reservation_date" type="timestamp" label="reservation_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="RESTAURANTTABLE-restaurant_id">
    <div layout-padding>
      <o-table 
        attr="RestaurantTableTable" 
        service="RestaurantTable" 
        entity="RestaurantTable" 
        keys="id"
        parent-keys="restaurant_id:id"
        columns="id;restaurant_id;capacity"  
        horizontal-scroll="yes"
        detail-form-route="RestaurantTable" 
        edit-form-route="RestaurantTable"
        visible-columns="id;restaurant_id;capacity"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="restaurant_id" title="restaurant_id">
    <o-table-cell-renderer-service attr="restaurant_id" 
        service="Restaurant" entity="RestaurantType" columns="id;name"
        parent-keys="id:restaurant_id"
        value-column="name" keys="restaurant_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #capacity attr="capacity" title="capacity" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="REVIEW-restaurant_id">
    <div layout-padding>
      <o-table 
        attr="ReviewTable" 
        service="Review" 
        entity="Review" 
        keys="id"
        parent-keys="restaurant_id:id"
        columns="id;customer_id;restaurant_id;rating;comment"  
        horizontal-scroll="yes"
        detail-form-route="Review" 
        edit-form-route="Review"
        visible-columns="id;customer_id;restaurant_id;rating;comment"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="customer_id" title="customer_id">
    <o-table-cell-renderer-service attr="customer_id" 
        service="Customer" entity="CustomerType" columns="id;name"
        parent-keys="id:customer_id"
        value-column="name" keys="customer_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="restaurant_id" title="restaurant_id">
    <o-table-cell-renderer-service attr="restaurant_id" 
        service="Restaurant" entity="RestaurantType" columns="id;name"
        parent-keys="id:restaurant_id"
        value-column="name" keys="restaurant_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #rating attr="rating" title="rating" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
        
          <o-table-column #comment attr="comment" title="comment" editable="no" required="no" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>